html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    color: #003B5C
}

body a:hover {
    text-decoration: underline;
}

.title {
    font-size: 2rem;
    font-weight: 300
}

.subtitle {
    font-size: 1.2rem;
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: .8rem
}

.header .font-decrease-button,
.nav .font-decrease-button {
    font-size: .6rem
}

.footer,
.header,
.nav {
    flex: 0 0 auto
}

.main {
    flex: 1 0 auto
}

/* Increase/Decrease Font Size Buttons */
.button-wrapper {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.button-wrapper button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #003B5C;
    cursor: pointer;
    font-size: .8rem;
    margin: 0 5px;
    padding: 5px;
}

.button-wrapper button:hover {
    background-color: #003B5C;
    border: 1px solid #003B5C;
    color: #fff;
}

/* Large Text Styles */
.large-text {
    font-size: 1.2rem;
    line-height: 1.5;
}
